extends ../layout

block content
  h1= title

  form(method="POST" action="")
    div.form-group
      label(for="name") Name:
      input#name(type="text" placeholder="Name" required=true value=(undefined === category.name ? '' : category.name) name="name")
    button.submit(type="submit") Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg