extends ../layout

block content
  div.index
    h1= title
    a.add(href="/categories/create") Add Category

  ul.index
    for category in categories
      li
        a(href=category.url) #{category.name}